option_settings:
  aws:elasticbeanstalk:application:environment:
    # celery
    CELERY_BROKER: "sqs://"
    CELERY_SQS_REGION: "eu-west-1"
    CELERY_SQS_URL: "https://sqs.eu-west-1.amazonaws.com/AWS_ACCOUNT_ID/cvd-sqs-queue-name"

    # redis
    REDIS_HOST: localhost
    REDIS_PORT: 6379
    REDIS_DATABASE: 0
